{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="form-floating">
  <input{{ attributes |without('class')}} class="form-control" />
  <label for="{{ attributes.id }}">{{ attributes.placeholder }}</label>
  {{ children }}
</div>
