{#
<<<<<<< HEAD
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'item',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="project-item mb-5">
      <div class="position-relative">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_project_image }}'] }}
        <div class="project-overlay">
            <a class="btn btn-lg-square btn-light rounded-circle m-1" href="{{file_url(row.content['#row']._entity.field_project_image.entity.uri.value)}}" data-lightbox="project">
            <i class="fa fa-eye"></i></a>
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_project_link }}'] }}
        </div>
      </div>
      <div class="p-4">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
        	{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
=======
  /**
   * @file
   * Theme override to display a view of unformatted rows.
   *
   * Available variables:
   * - title: The title of this group of rows. May be empty.
   * - rows: A list of the view's row items.
   *   - attributes: The row's HTML attributes.
   *   - content: The row's content.
   * - view: The view object.
   * - default_row_class: A flag indicating whether default classes should be
   *   used on rows.
   *
   * @see template_preprocess_views_view_unformatted()
   */
  #}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  <div class = "owl-carousel project-carousel wow fadeInUp" data-wow-delay = "0.1s">
   {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'item',
      ]
   %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class = "project-item mb-5">
      <div class = "position-relative">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_project_image }}'] }}
        <div class = "project-overlay">
          <a class = "btn btn-lg-square btn-light rounded-circle m-1" href = " style_plugin.render_tokens[ loop.index0 ] ['{{ field_project_image }}']"
           data-lightbox = "project"><i class = "fa fa-eye"></i></a>
          <a class = "btn btn-lg-square btn-light rounded-circle m-1" href = ""><i class = "fa fa-link"></i></a>
        </div>
     </div>
     <div class = "p-4">
       <a class = "d-block h5" href = "">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</a>
       <span>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}</span>
     </div>
    </div>
  </div>
  {% endfor %}
</div>
  
>>>>>>> 19c8504f7a9de8ed3e83cd7ff6697e19bd550190
