{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class = "row g-4">
  {% for row in rows %}
  <div class = "col-lg-3 col-md-6 wow fadeInUp" data-wow-delay = "0.1s">
  {%
    set row_classes = [
      default_row_class ? 'item',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class = "team-item rounded overflow-hidden pb-4">
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}'] }}
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_team_type }}'] }}
      <ul class = "team-social">
        <li><a class = "btn btn-square" href = "https://m.facebook.com/"><i class = "fab fa-facebook-f"></i></a></li>
        <li><a class = "btn btn-square" href = "https://twitter.com/"><i class = "fab fa-twitter"></i></a></li>
        <li><a class = "btn btn-square" href = "https://www.instagram.com/accounts/login/"><i class = "fab fa-instagram"></i></a></li>
        <li><a class = "btn btn-square" href = "https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.linkedin.com/feed/%3Ftrk%3Dhomepage-basic_intl-segments-login&ved=2ahUKEwjpn62zsKv9AhWO8DgGHeFQDsgQFnoECAEQAQ&usg=AOvVaw1tEV7S2uDjE5GPucmHFZmq"><i class = "fab fa-linkedin-in"></i></a></li>
     </ul>
    </div>
  </div>
 </div>
{% endfor %}
</div>
