{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div id = "header-carousel" class = "carousel slide carousel-fade" data-bs-ride = "carousel">
  <div class = "carousel-inner">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'carousel-item',
          loop.index == 1 ? 'active'
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
  <button class = "carousel-control-prev" type = "button" data-bs-target = "#header-carousel" data-bs-slide = "prev">
    <span class = "carousel-control-prev-icon" aria-hidden = "true"></span>
    <span class = "visually-hidden">Previous</span>
  </button>
  <button class = "carousel-control-next" type = "button" data-bs-target = "#header-carousel" data-bs-slide = "next">
    <span class = "carousel-control-next-icon" aria-hidden = "true"></span>
    <span class = "visually-hidden">Next</span>
  </button>
</div>
