{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<<<<<<< HEAD
<div class="row g-4">
{% for row in rows %}
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
  {%
    set row_classes = [
      default_row_class ? 'item',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
      <div class="service-item position-relative h-100">
        <div class="service-text rounded p-5">
          <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_icon }}'] }}
          </div>
          <h5 class="mb-3">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h5>
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}
        </div>
        <div class="service-btn rounded-0 rounded-bottom text-primary fw-medium">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_node_link }}'] }}<i class="bi bi-chevron-double-right ms-2"></i>
        </div>
      </div>    
  </div>
 </div> 
{% endfor %}
</div>
=======
<div class = "row g-4">
 {% for row in rows %}
  <div class = "col-lg-4 col-md-6 wow fadeInUp" data-wow-delay = "0.1s">
    {%
      set row_classes = [
        default_row_class ? 'item',
      ]
    %}  
  <div{{ row.attributes.addClass(row_classes) }}>
   <div class = "service-item position-relative h-100">
    <div class = "service-text rounded p-5">
      {{- row.content -}}
    </div>
	 </div>	   
  </div>
 </div> 
 {% endfor %}
</div>
>>>>>>> 19c8504f7a9de8ed3e83cd7ff6697e19bd550190
