{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h4>
  {% endif %}
  {{ title_suffix }}
  <div class = "row g-5">
    {% block content %}
    <div class = "col-lg-3 col-md-6">
      <h4 class = "text-white mb-4">Our Office</h4>
      <p class = "mb-2"><i class = "fa fa-map-marker-alt me-3"></i>{{ content.field_address }}</p>
      <p class = "mb-2"><i class = "fa fa-phone-alt  me-3"></i>{{ content.field_mail }}</p>
      <p class = "mb-2"><i class = "fa fa-envelope me-3"></i>{{ content.field_telephone }}</p>
    </div> 
    {% endblock %}
  </div>
</div>
