{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class = "row g-0">
      <div class = "col-lg-6">
        <div class = "h-100 d-flex align-items-center justify-content-center" style = "min-height: 300px;">
          <button type = "button" class="btn-play" data-bs-toggle = "modal" data-src = "https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal"></button>
        </div>
      </div>
      <div class = "col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
        <div class = "bg-white rounded-top p-5 mt-lg-5">
           <p class = "fs-5 fw-medium text-primary">About Us</p>
           <h1 class = "display-6 mb-4">{{ content.field_heading }}</h1>
           <p class = "mb-4">{{ content.body|render }}</p>
           <div class = "row g-5 pt-2 mb-5">
             <div class = "col-sm-6">
               {{ content.field_icon }}
               <span>{{ content.field_description_1 }}</span>
              </div>
              <div class = "col-sm-6">
                 {{ content.field_icon_2 }}
                 <span>{{ content.field_description_2 }}</span>
               </div>
            </div>
              <a class = "btn btn-primary rounded-pill py-3 px-5" href = "{{content.field_about_link.0['#url']}}">{{ content.field_about_link.0['#title'] }}</a>
         </div>
       </div>
     </div>
<!-- Video Modal Start -->
    <div class = "modal modal-video fade" id = "videoModal" tabindex = "-1" aria-labelledby = "exampleModalLabel" aria-hidden="true">
      <div class = "modal-dialog">
        <div class = "modal-content rounded-0">
           <div class = "modal-header">
            <h3 class = "modal-title" id = "exampleModalLabel">Youtube Video</h3>
                    <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
                </div>
                <div class = "modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class = "ratio ratio-16x9">
                        <iframe class = "embed-responsive-item" src = "" id = "video" allowfullscreen
                            allowscriptaccess = "always" allow = "autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
  {% endblock %}
</div>
