{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
   <div class = "row g-5">
    {% block content %}
      <div class = "col-lg-6 wow fadeInUp" data-wow-delay = "0.1s">
        <h1 class = "display-5 mb-4">{{ content.field_heading }}</h1>
        <p>{{ content.body }}</p>
        <a class = "d-inline-flex align-items-center rounded overflow-hidden border border-primary" href="">
          <span class = "btn-lg-square bg-primary" style="width: 55px; height: 55px;">
            <i class = "fa fa-phone-alt text-white"></i>
          </span>
          <span class = "fs-5 fw-medium mx-4">{{ content.field_telephone }}</span>
        </a>
      </div>  
      <div class = "col-lg-6 wow fadeInUp" data-wow-delay = "0.5s">
        <h2 class = "mb-4">{{ content.field_quote_subheading }}</h2>
        {{ content.field_quote_form}} 
      </div>
    {% endblock %}
  </div>
</div>