{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="maintain bg-primary">
<div class="layout-container d-flex flex-column justify-content-center align-items-center h-100">
<header role="banner">
    {% if site_name or site_slogan %}
      <div class="name-and-slogan">
      {% if site_name %}
        <h1 class="site-name">
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        </h1>
      {% endif %}

      {% if site_slogan %}
        <div class="site-slogan">{{ site_slogan }}</div>
      {% endif %}
      </div>{# /.name-and-slogan #}
    {% endif %}

  </header>

  <main role="main">
    {% if title %}
      <h1 class="text-center">{{ title }}</h1>
    {% endif %}
    
      {{ page.mid_content }}
   
    <div class="text-white">
      {{ page.content }}
      {% include "@growmark/../img/site-under-maintenance-icon.svg" %}
     </div>  
  </main>
</div>
</div>{# /.layout-container #}
