<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-center error-page">
        <h1>404</h1>
        <h3 class="text-primary">Sorry,page not found!</h3>
        </div>
    </div>
</div>
