{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Header start-->
  <div class = "container-fluid bg-primary text-white d-none d-lg-flex">
        <div class = "container py-3">
            <div class = "d-flex align-items-center">
                <a href = "http://localhost/drupal/drupal-10/">
                    {{ page.theme_branding }}
                </a>
                <div class = "ms-auto d-flex align-items-center">
                    {{ page.social_link }}
                    {% if all_icons_show %}
                        <div class = "header-right">
                            {% include '@growmark/layout/social-icons.html.twig' %}
                        </div>
                    {% endif %} <!-- end if for all_icons_show -->
                </div>
            </div>
        </div>
    </div>  
<!-- Header End -->
 <!-- Navbar Start -->
    <div class = "container-fluid bg-white sticky-top">
        <div class = "container">
            <nav class = "navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                <a href = "index.html" class = "navbar-brand d-lg-none">
                        <h1 class="fw-bold m-0">GrowMark</h1>
                </a>
                <button type = "button" class = "navbar-toggler me-0" data-bs-toggle = "collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class = "collapse navbar-collapse" id = "navbarCollapse">
                    <div class="navbar-nav">
                        {{page.menu}}
                    </div>
                    <div class = "ms-auto d-none d-lg-block">
                        {{page.button}}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<!-- Contactstart -->
<div class="container-fluid mt-5">
    <div class="container contact-block">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary">Contact Us</p>
                <h1 class="display-5 mb-5">If You Have Any Query, Please Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-5">
                <p class="mb-4">{{ growmark_info_link_information }}</p>
                        {{ page.content}}
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Contact Details</h3>
                    <div class="d-flex border-bottom pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Our Office</h6>
                            <span>{{ growmark_info_link_address }}</span>
                        </div>
                    </div>
                <div class="d-flex border-bottom pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Call Us</h6>
                            <span><a href="tel:+{{ growmark_info_link_phone }}">+{{ growmark_info_link_phone }}</a></span>
                        </div>
                    </div>
              <div class="d-flex border-bottom-0 pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                            <i class="fa fa-envelope text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Mail Us</h6>
                            <span><a href="mailto:{{ growmark_info_link_email }}">{{ growmark_info_link_email }}</a></span>
                        </div>
                    </div>
            
                 {{growmark_info_link_map|raw}}
            </div>
        </div>
    </div>
</div>
<!-- Contact End-->

<!-- Footer start -->
     <div class = "container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class = "container py-5">
            <div class = "row g-5">
                <div class = "col-lg-3 col-md-6">
                   {{ page.footer_1 }} 
                   {% if all_icons_show %}
                        <div class = "header-right">
                            {% include '@growmark/layout/social-icons.html.twig' %}
                        </div>
                    {% endif %} <!-- end if for all_icons_show -->
                </div>
                <div class = "col-lg-3 col-md-6">
                    {{ page.footer_2 }}
                </div>
                <div class = "col-lg-3 col-md-6">
                    {{ page.footer_3 }}
                </div>
                <div class = "col-lg-3 col-md-6">
                    {{ page.footer_4 }}
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class = "container-fluid copyright py-4">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-6 text-center text-md-start mb-3 mb-md-0">
                    {{page.footer_left}}
                        {% if copyright_text %}
                        <div class = "copyright">
                           This document has been prepared by Dotsquares ACN 123456789 ('Dotsquares pvt Ltd.').
                           All rights reserved.Not for further distribution without the permission of <a href="https://www.drupal.org/dotsquares-ltd">Dotsquares pvt Ltd</a>

                        </div>
                       {% endif %} <!-- end if for copyright -->
                </div>
                <div class = "col-md-6 text-center text-md-end">
                    {{page.footer_right}}
                </div>
            </div>
        </div>
    </div>
<!-- Footer End -->