<ul class = "social-icons">
  <li><a class = "btn btn-square" href = "https://m.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
  <li><a class = "btn btn-square" href = "https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
  <li><a class = "btn btn-square" href = "https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.linkedin.com/feed/%3Ftrk%3Dhomepage-basic_intl-segments-login&ved=2ahUKEwjpn62zsKv9AhWO8DgGHeFQDsgQFnoECAEQAQ&usg=AOvVaw1tEV7S2uDjE5GPucmHFZmq"><i class="fab fa-linkedin-in"></i></a></li>
</ul>

        
        